<section class="new-post-section">
    <button type="submit" class="btn" id="create-new-post">+ Create New Post</button>
</section>


{{#if posts.length}}
<section>
    <h2>Your Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/update/{{post.id}}" class="update-link">Update post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="../../public/js/createPost.js"></script>